:root {
    --primaryColor: #3ab3a7;
    --primaryHover: #0c988a;
    --secondColor: #253b53;
    --greyColor: #f7f7f7;
}

.home {
    height: 90vh;
    width: 100%;
    padding: 5rem 1.5rem;
    background: linear-gradient(rgba(0, 0, 1, 0.42), rgba(0, 0, 1.0, 0.549)), url('../Assets/perfil.jpeg');
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    row-gap: 3rem;

    .spanText {
        color: white;
        font-weight: 500;
    }

    .homeTitle {
      
        color: white;
        padding: 4rem 1rem 14rem;
        font-size: 28px;

        strong {
            font-weight: 800;
        }
    }

    .btn {
        border: 2px solid white;
        color: white;
        font-size: 13px;
        transition: .3s;
        width: max-content;

        &:hover {
            background: white;
            color: var(--primaryColor);
            border: 2px solid white;
        }
    }
}
